* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(230, 229, 245);
}

.grid_container {
  height: 100%;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 100%;
  display: grid;
  grid-area: header;
  background-color: rgb(230, 229, 245);
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.nav_bar {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.nav_list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 10px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  list-style: none;
}

.nav_bar ul li a {
  display: inline-block;
}

.nav_item {
  padding: 5px 10px;
  background-color: rgb(119, 201, 153);
  border-radius: 22px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  transition: all 3000ms, background-color 500ms ease-in, color 2000ms ease-in;
}

.nav_item:hover {
  background-color: rgb(218, 165, 32);
  color: rgb(0, 0, 0);
  transform: scale(1.2);
}

.main {
  display: grid;
  background-color: rgb(230, 229, 245);
  grid-area: main;
}

.main_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
}
.main_container ul li a {
  display: inline-block;
}
.main_item {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: rgb(84, 11, 130);
  font-size: 40px;
  text-align: center;
  align-items: center;
  transition: 1800ms ease-in;
}

.main_item:hover {
  box-shadow: 0px 0px 5px 10px rgb(4, 236, 136);
  background-color: rgb(165, 57, 140);
  color: rgb(14, 196, 138);
  transform: rotate(180deg) scale(1.05);
  -webkit-animation: blinkStart 100ms infinite ease-out;
  animation: blinkEnd 300ms infinite ease-in;
}

@keyframes blinkStart {
  100% {
    color: rgb(165, 57, 140,0);
  }
}

@keyframes blinkEnd {
  100% {
    color: rgb(165, 57, 140);
  }
}

.footer {
  width: 100%;
  min-height: 350px;
  display: grid;
  grid-area: footer;
  background-color: rgb(230, 229, 245);
  padding: 10px;
}

.ball {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  animation: move 5000ms infinite alternate ease-in-out;
  position: absolute;
}
.ball:hover {
  animation-play-state: paused;
}

@keyframes move {
  0% {
    transform: translate(0px, 175px);
    background-color: salmon;
  }

  10% {
    transform: translate(140px, 0px);
    background-color: rgb(120, 11, 130);
  }

  20% {
    transform: translate(280px, 300px);
    background-color: rgb(240, 11, 116);
  }

  30% {
    transform: translate(420px, 0px);
    background-color: rgb(300, 12, 12);
  }

  40% {
    transform: translate(560px, 300px);
    background-color: rgb(8, 190, 148);
  }

  50% {
    transform: translate(700px, 0px);
    background-color: rgb(65, 105, 225);
  }

  60% {
    transform: translate(840px, 300px);
    background-color: rgb(107, 65, 128);
  }

  70% {
    transform: translate(980px, 0px);
    background-color: rgb(215, 50, 176);
  }

  80% {
    transform: translate(1120px, 300px);
    background-color: rgb(207, 37, 116);
  }  

  90% {
    transform: translate(1260px, 0px);
    background-color: rgb(163, 13, 28);
  }  

  100% {
    transform: translate(1400px, 175px);
    background-color: rgb(101, 221, 26);
  }
}